/////// FONTS
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
///font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');
///font-family: 'Raleway', sans-serif;

///////ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ
@import "nullstyle.scss";
body {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	color: #616161;
}
input,button,textarea {
	font-family: 'Rubik', sans-serif;
}

/////////WRAPPER
.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
///////CONTAINER
.container {
	max-width: 1087px;
	margin: 0 auto;
	padding: 0 15px;
}
//PC
@media (max-width: 1087px) {
	.container {
		max-width: 970px;
	}
}
//TABLET
@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}
//MOBILE
@media (max-width: 767.98px) {
	.container {
		max-width: none;
	}
}

//////ОСНОВНОЙ БЛОК
//HEADER
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	&__container {
		display: flex;
		min-height: 114px;
		align-items: center;
	}
	&__logo {
		position: relative;
		z-index: 5;
	}
	&__menu {
		flex: 1 1 auto;
	}
	&__button {
		flex: 0 0 252px;
		display: flex;
		justify-content: flex-end;
		position: relative;
		z-index: 5;
	}
	&__burger {
	display: none;	
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	&__list {
		display: flex;
	}
	&__item {
		margin: 0 40px 0 0;
	}
	&__link {
		font-family: Raleway;
		font-size: 10px;
		font-weight: 700;
		line-height: 1.2x;
		letter-spacing: 0.14em;
		text-transform: uppercase;
		color: #000;
		&:hover {
			text-decoration: underline;
		}
	}
}
//tablets
@media (max-width: 991.98px) {
	.header__button {
		flex: 0 0 170px;
	}
	.menu__item {
		margin: 0 30px 0 0;
	}
	.header__container {
		min-height: 80px;
	}
}
//mobile
@media (max-width: 767.98px) {
	.header {
		&__container {
			justify-content: space-between;
		}
		&__logo img {
			flex: 1 1 auto;
			margin: 0 0 0 38%;
		}
	}
}
//very small mobile
@media (max-width: 479.98px) {
	.header__wrapper-Burger {
		flex: 1 1 auto;
	}
	.header__logo {
		flex: 0 0 60px;
		overflow: hidden;
		margin: 0;
	}
	.header__button {
		flex: 0 0 120px;
	}
}

//burger
@media (max-width: 767.98px) {
	body._lock {
		overflow: hidden;
	}

	.header__burger {
		z-index: 3;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		& span {
		position: absolute;
		background-color: #EC5863;
		left: 0;
		top: 9px;
		height: 2px;
		width: 100%;

		transition: all 0.5s ease 0s;
		}
		&:before, &:after {
		content: '';
		height: 2px;
		width: 100%;
		position: absolute;
		background-color: #EC5863;
		left: 0;

		transition: all 0.5s ease 0s;
		}
		&:before {
			top: 0;
		}
		&:after {
			bottom: 0;
		}
		&._active:before {
			transform: rotate(45deg);
			top: 9px;
		}
		&._active:after {
			transform: rotate(-45deg);
			bottom: 9px;
		}
		&._active span {
			transform: scale(0);
		}
	}
	.header__menu {
		position: fixed;
		justify-content: center;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		padding: 90px 15px 30px;
		background-color: #fff;

		transition: all 0.5s ease 0s;
		&._active {
			top: 0;
			&:before {
				content: '';
				position: fixed;
				top: 0;
				left: 0;
				height: 80px;
				width: 100%;
				background-color: #fff;
			}
		}
		& .menu__list {
		flex-direction: column;
		align-items: center;
			& li {
				margin: 0 0 30px 0;
			}
			& li:last-child {
				margin: 0;
			}
			& .menu__link {
				font-size: 20px;
			}
		}
	}
}

.button {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 10px;
	color: #FCFDFE;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: Raleway;
	letter-spacing: 0.14em;

	padding: 14px 30px;
	border-radius: 5px;
	background-color: #EC5863;
	transition: background-color 0.5s ease 0s;
	&:hover {
		background-color: #D65962;
	}
	&_blue {
		position: relative;
		z-index: 9;
		background-color: #4285F4;
		&:hover {
			background-color: #3C77D6;
		}
	}
}
@media (max-width: 767.98px) {
	.button_blue {
		padding: 14px 20px;
	}
	.button {
		font-size: 18px;
	}
}

////////// MAIN
.main {
	flex: 1 1 auto;
}
///// Block-text
.block-text {
	&_center {
		text-align: center;
	}
	&__title {
		font-size: 44px;
		font-weight: 700;
		line-height: 126%;
		letter-spacing: 0.005em;
		color: #000;
		& span {
			color: #EC5863;
		}
		&_blue span {
			color: #4285F4;
		}
		&:not(:last-child) {
			margin: 0 0 12px 0;
		}
	}
	&__text {
		font-weight: 400;
		line-height: 138%;
		letter-spacing: 0.08em;
		color: #616161;
		&_mw {
			max-width: 620px;
			margin: 0 auto;
		}
		&:not(:last-child) {
			margin: 0 0 24px 0;
		}
	}
	&__button {
	}
}
@media (max-width: 767.98px) {
	.block-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__title {
			font-size: 34px;
			flex: 1 1 100%;
		}
		&__text {
			flex: 1 1 100%;
		}
		&__button__wrapper {
			flex: 1 1 100%;
	}
	}
}
///////////Get-started
.get-started {
	background-color: #FAFBFD;
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 150px 15px 50px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 100vw;
			height: 100%;
			top: 0;
			right: 267px;
			background-color: #EC5863;
			border-radius: 20px 0 0 20px;
			transform: translate(100%, 0px);
		}
	}
	&__content {
		flex: 0 1 48%;
		padding: 0 20px 0;
	}
	&__block-text {
		max-width: 410px;
	}
	&__image {
		flex: 0 1 52%;
		position: relative;
		z-index: 2;
		& img {
			max-width: 100%;
		}
	}
	&__video {}
}

.video-get-started {
	flex: 1 1 100%;
	padding: 60px 0 0 18px;
	&__link {
		display: inline-flex;
		align-items: center;
	}
	&__icon {
		flex: 0 0 44px;
	}
	&__body {
		padding: 0 0 0 12px;
	}
	&__title {
		font-size: 13px;
		line-height: 126%;
		letter-spacing: 0.08em;
		color: #B0B0B0;
		&:not(:last-child) {
		margin: 0 0 5px 0;
		}
	}
	&__text {
		font-size: 9px;
		line-height: 126%;
		letter-spacing: 0.165em;
		color: #000;
		text-transform: uppercase;
	}
}

@media (max-width: 991.98px) {
	.get-started__container::before {
		right: 185px;
	}
}
@media (max-width: 767.98px) {
	.get-started__container {
		padding: 100px 15px 30px;
		flex-direction: column;
		align-items: center;
	}
	.get-started__container::before {
		display: none;
	}
	.get-started__block-text {
		max-width: none;
	}
	.get-started__content {
		flex: 1 1 100%;
		padding: 0;
	}
	.get-started__image {
		flex: 1 1 100%;
		text-align: center;
		padding: 30px;
	}
	.video-get-started {
		padding: 0;
			&__title {
			font-size: 17px;
		}
			&__text {
				font-size: 12px;
			}
	}
}

//////STAY-SAFE
.stay-safe {
	&__container {
		padding: 80px 15px;
		display: flex;
		align-atems: center;
	}
	&__media {
		flex: 0 1 50%;
	}
	&__content {
		flex: 0 1 50%;
	}
	&__block-text {}
}

.media-stay-safe {
	width: 371px;
	position: relative;
	text-align: center;
	padding: 56px 0 27px 0;

	&__image {
		box-shadow: 2px 4px 32px 0px #0000001F;
		display: inline-block;
		border-radius: 16px;
		position: relative;
		width: 61.5%;
		& img {
			position: relative;
			z-index: 2;
			max-width: 100%;
			}
		&::after {
			content: '';
			position: absolute;
			bottom: -12px;
			left: 12px;
			width: 206px;
			height: 27px;
			background: rgba(240, 240, 240, 0.49);
			border-radius: 16px;
			z-index: 1;
		}
	}
}
.media-stay-safe {
	&__item {
		background-color: #EC5863;
		position: absolute;
		border-radius: 30px;
		width: 77px;
		height: 77px;
		&_1 {
			width: 147px;
			height: 147px;
			top: 0;
			left: 0;
		}
		&_2 {
			right: 33px;
			bottom: 107px;
		}
		&_3 {
			left: 32px;
			bottom: 0;
		}
	}
}
@media (max-width: 991.98px) {
	.stay-safe__container {
		padding: 40px 15px;
	}
}
@media (min-width: 991.98px) {
	.stay-safe__media {
		padding: 0 0 0 48px;
	}
}
@media (max-width: 767.98px) {
	.stay-safe__container {
		flex-direction: column-reverse;
		align-items: center;
		padding: 30px 15px;
	}
	.stay-safe__content {
		margin: 0 0 30px 0;
	}
}
@media (max-width: 479.98px) {
	.media-stay-safe {
		width: 290px;	
	&__item {
		width: 77px;
		height: 77px;
		&_1 {
			width: 117px;
			height: 117px;
		}
		&_2 {
			right: 23px;
		}
	}
		&__image::after {
			width: 155px;
		}
	}
}

////////EXPERTS
.experts {
	background-color: #FAFBFD;
	&__container {
		padding: 103px 15px 116px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__statistics {
		flex: 1 1 100%;
	}
	&__content {
		flex: 0 1 50%;
		padding: 0 20px 0 0; //отступ безопасности
	}
	&__block-text {
		max-width: 400px;
	}
	&__video {
		flex: 0 1 50%;
		position: relative;
		padding: 0 0 30% 0;
		box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
		border-radius: 8px;
		overflow: hidden;
		& iframe {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}

.statistics-experts {
	max-width: 654px;
	margin: 0 auto 79px;
	position: relative;
	&__body {
	}
}
.body-statistics-experts {
		position: relative;
		z-index: 2;
		background-color: #fff;
		box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
		border-radius: 16px;
		padding: 28px 81px;
		display: flex;
		align-items: center;
	&__item {
		flex: 0 1 25%;
		text-align: center;
		&:first-child {
		padding: 0 30px 0 0;
		}
		&:last-child {
			flex: 0 1 50%;
			padding: 0 0 0 40px;
		}
	}
	&__value {
		font-size: 36px;
		font-weight: 700;
		letter-spacing: 0.14em;
		line-height: 1.2;
		color: #EC5863;
		margin: 0 0 5px 0;
	}
	&__text {
		font-size: 11px;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.37em;
		color: #000;
		text-transform: uppercase;
		}
}
.statistics-experts {
	&__decor {
		position: absolute;
		background-color: #EC5863;
		border-radius: 30px;
		&_1 {
			width: 65px;
			height: 65px;
			transform: rotate(-30deg);
			bottom: -25px;
			left: -15px;
			border-radius: 16px;
		}
		&_2 {
			width: 96px;
			height: 96px;
			transform: rotate(105deg);
			top: -41px;
			left: 225px;
		}
		&_3 {
			width: 127px;
			height: 127px;
			transform: rotate(-30deg);
			right: -50px;
			top: 0px;
		}
	}
}

@media (max-width: 767.98px) {
	.experts {
	&__container {
		flex-direction: column;
		align-items: stretch;
		padding: 70px 15px 70px;
	}
	&__content {
		flex: 1 1 100%;
		padding: 0;
		margin: 0 0 25px 0;
	}
	&__block-text {
		max-width: none;
	}
	&__video {
		flex: 1 1 100%;
		position: relative;
		padding: 0 0 48% 0;
	}
	&__statistics {
		max-width: 95%;
		margin: 0 auto 59px;
	}
}
.body-statistics-experts {
		padding: 18px 41px;
	&__item {
		&:last-child {
			padding: 0 0 0 30px;
		}
	}
	&__value {
		font-size: 30px;
	}
	&__text {
		letter-spacing: 0.2em;
	}
}
.statistics-experts {
	&__decor {
		&_3 {
			width: 100px;
			height: 100px;
			right: -30px;
		}
	}
}
}
@media (max-width: 991.98px) {
	.experts__container {
		padding: 80px 15px 50px;
	}

}
@media (max-width: 479.98px) {
	.statistics-experts {
		max-width: 95%;
		margin: 0 auto 30px;
		&__decor {
			display: none;
		}
	}
	.body-statistics-experts {
		padding: 18px 41px;
	&__item {
		&:first-child {
		padding: 0 10px 0 0;
		}
		&:last-child {
			padding: 0 0 0 20px;
		}
	}
	&__value {
		font-size: 26px;
		letter-spacing: 0.1em;
		line-height: 1.0;
		margin: 0 0 4px 0;
	}
	&__text {
		font-size: 10px;
		line-height: 1.0;
		letter-spacing: 0.1em;
		}
}
	.experts__container {
		padding: 40px 15px 20px;
	}
} 
@media (max-width: 364px) {
	.statistics-experts {
		max-width: 290px;
	}
	.body-statistics-experts {
		padding: 18px 17px; 
	}
}

//////Healthcare
.healthcare {
	padding: 80px 0 70px;
	&__block-text {
		margin: 0 0 60px 0;
	}
	&__items {
		display: flex;
		/*gap: 72px;*/
	}
	&__column {
		padding: 0 36px;
		flex: 0 1 33.333%;
		position: relative;
		&_1::before,&_1::after {
			content: '';
			position: absolute;
			background: #EC5863;
			border-radius: 16px;
		}
		&_1::before {
			width: 65px;
			height: 65px;
			transform: rotate(-30deg);
			bottom: -35px;
			left: 15px;
		}
		&_1::after {
			width: 96px;
			height: 96px;
			transform: rotate(105deg);
			border-radius: 30px;
			top: 40px;
			right: -17px;
		}
		&_2::before {
			content: '';
			position: absolute;
			background: #EC5863;
			border-radius: 30px;
			width: 127px;
			height: 127px;
			bottom: -23px;
			right: -44px;
			transform: rotate(-30deg);
		}
		&_3::before {
			content: '';
			position: absolute;
			background: #EC5863;
			width: 65px;
			height: 65px;
			border-radius: 16px;
			transform: rotate(-30deg);
			top: -33px;
			right: 14px;
		}
	}
	&__item {
	}
}

.item-healthcare {
	position: relative;
	z-index: 2;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 36px 17px;
	text-align: center;
	&__icon {
		margin: 0 0 58px 0;
	}
	&__title {
		font-weight: 700;
		color: #000;
		font-size: 16px;
		line-height: 138.5%;
		letter-spacing: 0.08em;
		margin: 0 0 4px 0;
	}
	&__text {
		line-height: 138.5%;
		letter-spacing: 0.08em;
	}
}
@media (max-width: 1087px) {
	.healthcare__column {
		padding: 0 24px;
	}
}
@media (max-width: 991.98px) {
	.healthcare {
	padding: 40px 0 70px;
	&__items {
		flex-direction: column;
	}
	&__column {
		&_1::before,&_1::after,&_2::before,&_3::before {
			display: none;
		}
	&:not(:last-child) {
		margin: 0 0 30px 0;
	}
}
}
}
@media (max-width: 767.98px) {
	.healthcare {
	padding: 35px 0 50px;
	&__block-text {
		margin: 0 0 30px 0;
	}
}
}
@media (max-width: 479.98px) {
	.healthcare {
	padding: 25px 0 40px;
}
}
/////FOOTER
.footer {
	padding: 0 0 40px 0;
	&__container {}
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 56px;
	}
	&__item {
	}
}
@media (max-width: 767.98px) {
	.footer {
	&__items {
		gap: 40px;
	}	
	}
}
@media (max-width: 479.98px) {
		.footer {
	&__items {
		gap: 15px;
	}	
	}
}
@media (max-width: 364px) {
	.footer {
	&__items {
		flex-direction: column;
		gap: 0px;
	}	
	}
}